:root{
    --m-top:25px;
    --font:bold;
}
.todo__content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.3vw;
    font: inherit;
    gap:0.5rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
}

.todo__content:hover{
    transform: scale(1.01) ;
}

.todo__title{
    margin-top:var(--m-top);
    font-weight: var(--font);
}

.todo__description{
    margin-top:var(--m-top);
    font-weight: var(--font);
}
.todo__priority{
    margin-top:var(--m-top);
    font-weight:var(--font);
}
.todo__delete{
    margin-top:20px;
    font:inherit;
}

.todo__delete button{
    padding:8px;
    border-radius: 12px;
    color: #ffffff;
    background-color: #3d8140;
    border:1px solid black;
}
